<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>新建网页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/Web/css/csh.css" />
<link rel="stylesheet" href="__PUBLIC__/Web/css/head.css" />
</head>
    <body>
    	<div id="container">
            <div class="nav"></div>
    		<div id="main"></div>
    		<div id="footer"><ul>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">意见反馈</a></li></ul>
            </div>
    	</div>
    </body>
</html>